$roundedMain: 10px;

$xxl: $containerWidth + px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 479.98px;

$xl_: 1199.98;
$lg_: 991.98;
$md_: 767.98;
$sm_: 479.98;

$blue-color-500: #1c3359;
$black-color: #000000;
$white-color: #ffffff;
$grey-color-400: #f2f2f2;
$grey-color-500: #f0f0f0;
$grey-color-600: #a7a7a7;
$grey-color-900: #252525;
